@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html {
  scrollbar-width: auto;
  scrollbar-color: white black;
  scroll-behavior: smooth;
  background: radial-gradient(circle at center, #1a1a1a 0%, #0f0f0f 100%);
}

::-webkit-scrollbar {
  width: 50px;
  height: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
