@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.card {
  display: flex;
  flex-direction: column;
  background-color: #0a0a0a;
  border: 1px solid #222;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition:
    transform 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  height: 100%;
}

.card:hover {
  transform: translateY(-10px);
  border-color: #fff;
  box-shadow: 0 7px 30px rgba(199, 199, 199, 0.6);
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 2 / 3;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card:hover .image {
  transform: scale(1.1);
}

.average {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  color: #ffc107;
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #ffc107;
  font-weight: 800;
  font-size: 1rem;
  z-index: 10;
}

.info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 1.2;
  text-align: center;
}

.synopsis {
  color: #e0e0e0;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
}

.containerButton {
  padding: 0 15px 20px 15px;
  margin-top: auto;
}

.buttonForm {
  width: 100%;
  border: 1px solid white;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
  color: white;
  background: #0a0a0a;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}

.buttonForm:hover {
  background: #fff;
  color: #0a0a0a;
  border-color: #fff;
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.3);
}
